.mainImageContainer{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 75%;
    position: relative;
    align-self: center;
    margin: auto;
}

.mainImageImage{
    opacity:1;
    width: 100%;
    height:auto;
    display:block;
}


.inputBoxDiv{
    background-color: transparent;
    padding: 0%;
    padding-top: 5px;
    display: block;
    flex-direction: row;
}
.inputBoxField{
    padding:5px;
    font-size:15px;
    width:100%;
    box-sizing: border-box;
}
.inputBoxOptionsContainer{
    background-color: transparent;
    padding: 0%;
    width: 100%;
    margin-block-start: 0%;
    margin-block-end: 0%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-height: 10vw;
    overflow: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
}
.inputBoxOptionsOption{
    min-width: fit-content;
    width: 100%;
    border-width: 0;
    padding: 5px;
    text-align-last: left;
    font-size:  15px;
    height: fit-content;
    background-color: rgb(235, 235, 235);
    box-sizing: border-box;
}
.inputBoxOptionsOption:hover{
    background-color: rgb(207, 207, 207);
}
.loadingText{
    font-size: 24px;
    margin: auto;
    text-align: center;
}