.mainImageContainer{
    background-color: transparent;
    display: block;
    flex-direction: column;
    max-width: 800px;
    width: 75%;
    position: relative;
    align-self: right;
    margin: auto;
    left:10%
}

.sideBar{
    background-color: gray;
    width: 22%;
    height: 65%;
    position:absolute;
    right:105%;
    top:0%;
    padding: 0%;
    padding: 4px;
}
.sideBarText{
    background-color: blanchedalmond;
    margin: 0%;
    text-align: center;
    font-size: xx-large;
}
.sideBarText2{
    font-size: large;
    color:red;
    margin-top: 5px;
}

.mainImageImage{
    opacity:1;
    width: 100%;
    height:auto;
    display:block;
    border-style: inset;
}


.inputBoxDiv{
    background-color: transparent;
    padding: 0%;
    padding-top: 5px;
    display: block;
    flex-direction: row;
}
.inputBoxField{
    padding:5px;
    font-size:15px;
    width:70%;
    box-sizing: border-box;
    height: 30px;
    border-radius: 4px;
}
.inputBoxRemainder{
    width:30%;
}

.revealingButton{
    width: 45%;
    margin-left: 5%;
    height: 30px;
    border-radius: 4px;
}
.showMoreButton{
    background-color: rgb(172, 172, 172);
}
.giveUpButton{
    background-color: rgb(255, 69, 69);
}
.newGameButton{
    background-color: rgb(0, 174, 255);
    width:95%;
}

.inputBoxOptionsContainer{
    background-color: transparent;
    padding: 0%;
    width: 70%;
    margin-block-start: 0%;
    margin-block-end: 0%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-height: 400px;
    overflow: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
}
.inputBoxOptionsOption{
    min-width: fit-content;
    width: 100%;
    border-width: 0;
    padding: 5px;
    text-align-last: left;
    font-size:  15px;
    height: fit-content;
    background-color: rgb(235, 235, 235);
    box-sizing: border-box;
}
.inputBoxOptionsOption:hover{
    background-color: rgb(207, 207, 207);
}
.loadingText{
    font-size: 24px;
    margin: auto;
    text-align: center;
}